<?xml version="1.0" ?>

<robot name="yaskawa_R" xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <!-- loading urdf -->
    <xacro:include filename="$(find motoman_hc10_moveit_config)/urdf/materials.xacro" />
    <xacro:include filename="$(find motoman_hc10_moveit_config)/urdf/table.xacro" />
    <xacro:include filename="$(find motoman_hc10_moveit_config)/urdf/cell.xacro" />
    <xacro:include filename="$(find motoman_hc10_moveit_config)/urdf/pince.xacro" />

    <xacro:include filename="$(find motoman_hc10_moveit_config)/urdf/hc10dt_b10_macro.xacro" />
    <xacro:motoman_hc10dt_b10 prefix=""/>

    <!-- linking robot to world,workspaces and end-effector -->
    <link name="world" />

    <joint name="world_cell" type="fixed">
        <origin rpy="0 0 0" xyz="-0.29 -0.73 0.698"/>
        <parent link="world" />
        <child link="pieds_cellule_link" />
    </joint>

    <joint name="world_table_joint" type="fixed">
        <origin rpy="1.57079 0 0" xyz="0 0 0.432"/>
        <parent link="world" />
        <child link="table_link" />
    </joint>

    <joint name="link_base" type="fixed">
        <origin rpy="-1.57079 3.1415 0" xyz="0.171 0.2 0.181" />
        <parent link="table_link" />
        <child link="yaska4_base_link" />
    </joint>

    <joint name="tool_cylinder" type="fixed" >
        <origin rpy="0 0 -1.57079" xyz="0 0 0" />
        <parent link="yaska4_tool0" />
        <child link="cylinder_link" />
    </joint>

</robot>
