<launch>
  <!-- By default we do not overwrite the URDF. Change the following to true to change the default behavior -->
  <arg name="load_robot_description" default="false"/>

  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="robot_description" default="robot_description"/>

  <!-- Wether we work with the left or right robot (when entering the room)  -->
  <arg name="left_robot" default="True" />

  <!-- Load universal robot description format (URDF) -->
  <group if="$(arg load_robot_description)">
    <param if="$(arg left_robot)" name="$(arg robot_description)"
      command="xacro --inorder '$(find motoman_hc10_moveit_config)/urdf/left/hc10dt_with_env.xacro'" />
    <param unless="$(arg left_robot)" name="$(arg robot_description)"
      command="xacro --inorder '$(find motoman_hc10_moveit_config)/urdf/right/hc10_with_env.xacro'" />
  </group>

  <!-- The semantic description that corresponds to the URDF -->
  <param if="$(arg left_robot)" name="$(arg robot_description)_semantic" textfile="$(find motoman_hc10_moveit_config)/config/yaskawa_LEFT.srdf" />
  <param unless="$(arg left_robot)" name="$(arg robot_description)_semantic" textfile="$(find motoman_hc10_moveit_config)/config/yaskawa_RIGHT.srdf" />

  <!-- Load updated joint limits (override information from URDF) -->
  <group ns="$(arg robot_description)_planning">
    <rosparam command="load" file="$(find motoman_hc10_moveit_config)/config/joint_limits.yaml"/>
  </group>

  <!-- Load default settings for kinematics; these settings are overridden by settings in a node's namespace -->
  <group ns="$(arg robot_description)_kinematics">
    <rosparam command="load" file="$(find motoman_hc10_moveit_config)/config/kinematics.yaml"/>

  </group>

</launch>
